.k-modals {
  $modal-backdrop-color: rgba(0, 0, 0, .8);
  $modal-background: white;

  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-modals);
  pointer-events: none;

  .modals-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .backdrop {
    background-color: $modal-backdrop-color;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    pointer-events: all;
  }
}

.k-modal {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 4rem;
  background: var(--color-light);
  pointer-events: all;
  z-index: 2;
  position: absolute;
  background: var(--color-gray-light);

  @media screen and (max-width: 600px) {
    max-width: 94%;
  }

  h1 {
    margin-bottom: 0;
  }
  a {
      font-weight: var(--weight-bold);
      color: var(--color-primary);
  }
  .modal-content {
    max-width: 100%;
  }
  .form-row {
      margin-bottom: 2rem;
  }
  .flex-row {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 990px) {
        flex-direction: row;
    }
    .flex-column {
        flex: 1;
        &.flex-end {
            align-self: auto;
            @media screen and (min-width: 990px) {
                align-self: flex-end;
            }
        }
        p {
            text-align: justify;
            &:first-child {
                margin-top: .9rem;
            }
        }
        &:first-child {
            padding-right: 0;
            @media screen and (min-width: 990px) {
                padding-right: 3rem;
            }
        }
        &.flex-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &.flex-small {
        .flex-column {
            &:first-child {
                padding-right: 0;
                @media screen and (min-width: 990px) {
                    padding-right: 1rem;
                }
            }
        }
    }
    &.padding-small {
        .flex-column {
            &:first-child {
                padding-right: 0;
                @media screen and (min-width: 990px) {
                    padding-right: 1rem;
                }
            }
        }
    }
  }
  .disclaimer {
      font-style: italic;
      font-weight: var(--weight-bold);
      color: #999;
      font-size: 1.5rem;
      display: block;
      margin-bottom: 1rem;
  }
  .section {
      border-bottom: solid 1px #666;
      padding: 2rem 0;
      .more {
          font-style: italic;
          margin: 0;
          a {
            font-weight: 400;
          }
      }
      &.last {
          border-bottom: none;
          padding: 2rem 0 0 0;
      }
      .underline, [underline] {
          cursor: pointer;
      }
    &.section-header {
        padding: .8rem 0 1.6rem 0;
    }
    &.section-middle {
        padding: 2rem 0 0 0;
    }
  }
  dl dt a {
      font-weight: 400;
  }
  .name {
      font-size: 1.9rem;
      font-weight: var(--weight-bold);
      margin-top: 0;
      word-break: break-word;
  }
  h1.job-name {
      font-size: 2.4rem;
      text-transform: none;
  }
  h4 {
      font-weight: var(--weight-bold);
  }
  .k-button {
      margin-bottom: 1rem;
    @media screen and (min-width: 990px) {
        margin-bottom: 0;
    }
  }
}
