.page {
  display: flex;
  flex: 1;
  width: 100%;
}

.page-navigation {
  display: flex;
  flex-shrink: 0;
}

.page-content {
  padding: 0 var(--global-page-padding-m);
}
.container {
  max-width: 1856px;
  margin: 0 auto;
}
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  .left-side {
    flex: 1;
    border-right: none;
    padding: 0;
    @media screen and (min-width: 768px) {
      border-right: solid 1px var(--color-gray);
      padding: 0 2.4em 0 0;
    }
    .row .column .flex-column {
      height: 97%;
      p {
        margin-top: 0;
      }
    }
  }
  .right-side {
    flex: 1;
    padding: 2em 0 0 0;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 2.4em;
    }
    .column label {
      margin-top: 1em;
    }
    .column img {
      width: 100%;
      display: block;
      margin-bottom: 2rem;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 560px) {
      flex-direction: row;
    }
    .column {
      flex: 1;
      &:first-child {
        padding-right: 0;
        @media screen and (min-width: 560px) {
          padding-right: 2em;
        }
      }
      &.profile .flex-column {
        justify-content: unset;
        .flex-column-cell:not(:last-child) {
          margin-bottom: 1em;
        }
      }
      .flex-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }
      p {
        text-align: justify;
        margin: 1.8rem 0 0 0;
        line-height: 2.4rem;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --global-font-size: 50%;
  }
}